.card{
width: fit-content;
padding: 20px;
margin-top: 50px;
}

.btn {
    font-size: 30px;
    min-height: 70px;
    min-width: 70px;
    color: white;
}

.btn:hover{
    color: #e9b20a;
}

.calc {
    margin: auto;
}

#output {
    font-size: 50px;
    background-color: blanchedalmond;
    color: black;
    border: 2px solid black;
    min-height: 100px;
    min-width: fit-content;
}
